*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.functions{
    background-image: linear-gradient(to right bottom, #392d69, #b57bee);
    border-radius: 16px;
    font-size: 16px;
    width: 500px;
    padding: 16px 25px;
    margin: 16px;
    display: grid;
    grid-template-rows: 40px 40px minmax(0px, auto) 40px;
    grid-template-columns: repeat(2, 225px);
    grid-gap: 10px;
}

.weight{
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 22px;
    border: none;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
}

.height{
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 22px;
    border: none;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
}

.calcButton{
    grid-area: 2 / 1 / 3 /3;
    border: none;
    border-radius: 22px;
    background-color: #c1121f;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.bmi{
    grid-area: 3 / 1 / 4 / 3;
}

.reset{
    grid-area: 4 / 1 / 5 / 3;
    border: none;
    border-radius: 22px;
    background-color: #c1121f;
    color: white;
    font-size: 16px;
    font-weight: 600;
}